body {background-color: #383d43;
  font-family: 'Lato', sans-serif;
}

.title {text-align: center;
  background-color: #494e55;
  width: 100%;
  padding: .5em;
}

h1 {
 color:  #e47a7b;
 text-align: center; 
 background-color: #494e55;
 margin-top: 0.5em;
}

.items {
  margin-top: 2em;
}

input {
 margin: 1em;
}

div {
	width: 600px;
	margin:auto;
}



.input { 
  width: 40em;
  height: 3em;
  margin: 0px;
  color: #fcffff;
  font-weight: 600;
  font-size: medium;

}


.input:after {
  content: ' (some text)';
  font-weight: 100;
}

.input:nth-child(odd) {
  background-color: #7a7593;
}

.input:nth-child(even) {
 background-color: #88839e;
}

input:active { text-decoration: line-through;
border: 3px solid white;

}


.input:hover { color:#b7becf;

	background:#625e77;
}



button {
background-color: #494e55;
width: 48em;
height: 4em;
color: #e47a7b;
border: none;
margin-left: 12.5em;
}



.border { outline: 10px solid white; 

 outline: 25px solid white;
 width: 70%;
 height: 90vh;

 margin-left: auto; }


 a  {
  text-decoration: none;
  color:  #e47a7b;
  text-align: center; 


}




.input:active { text-decoration: line-through;
}
